---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container">
    <h1>Hello</h1>
    <p>A simple, fast – and a little bit opinionated – starter kit for <a href="https://www.11ty.dev">Eleventy</a>.</p>
    <section class="list">
      <h2>Features</h2>
        <ul dir="auto">
          <li>Eleventy 2.0 Dev Server with live reload</li>
          <li>Eleventy build output is post-processed by <a href="https://vitejs.dev" rel="nofollow">Vite</a> (with <a href="https://rollupjs.org" rel="nofollow">Rollup</a>)</li>
          <li>Vite 3.0 as Middleware in Eleventy Dev Server (uses <a href="https://github.com/11ty/eleventy-plugin-vite/">eleventy-plugin-vite</a>)</li>
          <li>Markdown post-processing with <a href="https://mdxjs.com/">MDX</a> during the build</li>
          <li>Hydration through <a href="https://reactjs.org/">React</a> at the runtime</li>
        </ul>
    </section>
</div>
