---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container">
    <h1>Hello</h1>
    <p>A simple, fast – and a little bit opinionated – starter kit for <a href="https://www.11ty.dev">Eleventy</a>.</p>
    <section class="list">
      <h2>Features</h2>
        <ul dir="auto">
          <li>Eleventy 2.0 Dev Server with live reload</li>
          <li>Markdown post-processing with <a href="https://mdxjs.com/">MDX</a> during the build</li>
        </ul>
    </section>
</div>
